.filters {
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    display:flex;
    align-items:center;
    
}
.filters button{
    font-size:18px;
    background-color:#FF5A5F;
    color:white;
    height:48px;
    width:20%;
    border:0;
    border-radius:4px;
    margin-left:auto;
    margin-right:30px;
}
.filters button:hover{
    opacity:.9;
    filter:alpha(opacity=90);
}
.locations, .amenities{
    margin-left:30px;
    height:100%;
    width:25%;
}
.filters div:first-child{
    border-right:1px solid #DDDDDD;
}
.amenities h3, .locations h3 {
    margin: 14px 10px 0px 10px;
    font-weight:600;
}
.locations h4, .amenities h4 {
    margin:5px 10px;
    font-weight:400;
    font-size:14px;
}